[Unit]
Description=Get temp, humid, and humiditydeficit data & Post to the monitor
After=rc-local.service

[Service]
User=pi
Environment=DISPLAY=:0
WorkingDirectory=/home/pi/clock
ExecStart=/home/pi/clock/build-clock-Desktop-Release/clock
#ExecStart=/usr/bin/chromium-browser --app=file:///home/pi/clock/screen.html
#ExecStart=/usr/bin/chromium-browser --window-size=100,100 --window-position=1700,950 --app=file:///home/pi/clock/screen.html
Restart=always
#RestartSec=90
RestartSec=30
Type=simple
PIDFile=/var/run//clock.pid
User=pi

[Install]
WantedBy=multi-user.target
